<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.5)" />
<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.5)" />
<meta name="keywords" content="BAI,百鞋诚, 快时尚,男装,女装,童装,鞋,家居,配饰,衬衫,牛津纺,牛津纺衬衫,衬衣,长袖衬衫,短袖衬衫,全棉,纯棉,百分百棉,100%棉,全棉衬衫,纯棉衬衫,全棉衬衣,纯棉衬衣,免烫,免熨,免烫衬衫,免熨衬衫,免烫衬衣,免熨衬衣,牛津纺衬衣,领尖扣,直领,小方领,POLO,短袖POLO,长袖POLO,条纹POLO,素色POLO,T恤,圆领T恤,VT,圆领T,印花T,文化衫,卫衣,打底衫,高领衫,低领,鞋,凉鞋,皮鞋,板鞋,商务皮鞋,正装皮鞋,滑板鞋,潮鞋,休闲皮鞋,帆布鞋,运动鞋,运动休闲鞋,家居鞋,雪地靴,靴子,平底鞋,沙滩鞋,夹脚鞋,圆头,尖头,女鞋,休闲鞋,男鞋,童鞋,花园鞋,丝袜,长筒袜,连裤袜,网袜,天鹅绒,瘦腿袜,中筒袜,筒袜,棉袜,靴袜,打底裤,羽绒服,项链,手镯,围巾,棉线衫,开衫,针织衫,外套,西服,休闲西服,夹克,毛衣,背心,毛背心,裤子,长裤,休闲裤,牛仔裤,牛仔,卡其裤,直筒休闲裤,直筒卡其裤,免烫休闲裤,免烫卡其裤,斜纹休闲裤,斜纹卡其裤,短裤,沙滩裤,内衣,内裤,秋衣,秋裤,三角裤,平角裤,领带,袜子,家居,浴巾,面巾,毛巾,收纳,户外,床品,伞,餐垫,拖鞋,盖毯,断码,打折" />
<meta name="description" content="BAI 百鞋诚，互联网时尚品牌。根植互联网，全球时尚潮流，国际一线品质，平民价位。在线销售男装、女装、童装、鞋、家居、配饰等。送货上门、货到付款，无条件退换货。" />
<script src="/WEB-RES/script/jquery/jquery-1.5.2.js" type="text/javascript"></script>
<script src="/WEB-RES/script/common.js" type="text/javascript"></script>
<link href="/WEB-RES/css/common.css" type="text/css" rel="stylesheet"/>

##<!-- 网页调试插件 -->
##<script src="https://getfirebug.com/firebug-lite.js" type="text/javascript"></script>
##<!-- 加载网络字体typekit -->
##<script type="text/javascript" src="http://use.typekit.com/uxj6dew.js"></script>
##<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
