<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
	http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-3.0.xsd
	">


	<!-- =================================SOA FactoryBean服务基类================================= -->
	
	<!-- 基类SoaProxyFactoryBean -->
	<bean id="SoaProxyFactoryBean" class="com.baishop.framework.remoting.httpinvoker.HttpInvokerWithAuthsProxyFactoryBean" abstract="true">
		<property name="httpInvokerRequestExecutor">
			<bean class="org.springframework.remoting.httpinvoker.CommonsHttpInvokerRequestExecutor" />
		</property>
		<property name="user">
			<value>${remoting.soa.user}</value>
		</property>
		<property name="password">
			<value>${remoting.soa.password}</value>
		</property>
		<property name="prefix">
			<value>${remoting.soa.url}</value>
		</property>
	</bean>
	
		
	<!-- =================================JMS FactoryBean服务基类================================= -->
	
	<!-- 基类JmsProxyFactoryBean -->
	<bean id="JmsProxyFactoryBean" class="com.kadang.kd6.framework.remoting.jms.JmsRpcProxyFactoryBean" abstract="true">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
	</bean>
	<bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${remoting.jms.url}"/>
	</bean>
	<bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
		<property name="connectionFactory" ref="jmsConnectionFactory"/>		
	</bean>
	
	
	
	<!-- ============================sale服务类============================ -->
	

	<!-- 用户服务类 -->
	<bean id="usersService" parent="SoaProxyFactoryBean">
	    <property name="serviceUrl">
		  <value>/service/Users.srv</value>
		</property>
	    <property name="serviceInterface">
	      <value>com.baishop.service.sale.UsersService</value>
	    </property>
	</bean>
	
	
	<!-- ============================goods服务类 ============================ -->
	
	
	<!-- 商品服务类 -->
	<bean id="goodsService" parent="SoaProxyFactoryBean" >
	    <property name="serviceUrl">
		  <value>/service/goods/Goods.srv</value>
		</property>
	    <property name="serviceInterface">
	      <value>com.baishop.service.goods.GoodsService</value>
	    </property>
	</bean>
	
	
	<!-- ============================ass服务类============================ -->
		
	<!-- 系统参数服务类 -->
	<bean id="paramsService" parent="SoaProxyFactoryBean">
	    <property name="serviceUrl">
		  <value>/service/Params.srv</value>
		</property>
	    <property name="serviceInterface">
	      <value>com.baishop.service.ass.ParamsService</value>
	    </property>
	</bean>
	
	<!-- 系统枚举服务类 -->
	<bean id="enumsService" parent="SoaProxyFactoryBean">
	    <property name="serviceUrl">
		  <value>/service/Enums.srv</value>
		</property>
	    <property name="serviceInterface">
	      <value>com.baishop.service.ass.EnumsService</value>
	    </property>
	</bean>
	
	<!-- 城市区划服务类 -->
	<bean id="cityService" parent="SoaProxyFactoryBean">
	    <property name="serviceUrl">
		  <value>/service/City.srv</value>
		</property>
	    <property name="serviceInterface">
	      <value>com.baishop.service.ass.CityService</value>
	    </property>
	</bean>

</beans>